<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coctails</title>
  </head>

  <body>
    <h1><%= title %></h1>

    <ul>
      <% for(let i = 0; i < available.length; i++) { %>
      <li><%= available[i] %></li>
      <% } %>
    </ul>

    <ul>
      <% for(let i = 0; i < coctails.length; i++) { %>
      <li><%= Object.values(coctails[i]) %></li>
      <% } %>
    </ul>

  </body>
</html>